# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
*~
*.bak
*.save
access_key
secret_key
dburl.txt
provider.tf
variables.json
*key.json
.terraform.lock.hcl
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
**/.terraform/*
crash.log
*_override.tf
*_override.tf.json
jdauphant.nginx
