{
"service_account_key_file": "../../key.json.example",
"folder_id": "dfgrhgks;lfghrhrjjjr",
"source_image_family": "ubuntu-1604-lts",
"platform_id": "standard-v1",
"subnet_id": "erghhdfgaccvvdbsbsbs"
}
