cloud_id                 = "b1gv8kq1c3km67deu7pg"
folder_id                = "b1gmeorbkbe3ujqhbp7d"
zone                     = "ru-central1-a"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
subnet_id                = "e9bq3plfkk65995p8m7j"
service_account_key_file = "../sa-key.json"
app_disk_image           = "fd83avq4g365lsd2n4ug"
db_disk_image            = "fd8qe7v28fhpg02npk71"
